<hr>
<mat-toolbar mat-elevation-z15 class="mat-elevation-z15">
  <mat-toolbar-row>
    <span>
      <button mat-raised-button routerLink="/home">
        Home
      </button>
    </span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button routerLink="/public">
      Public
    </button>
    <span style="padding-left: 2px;">
      <button mat-raised-button routerLink="/debug">
        Debug
      </button>
    </span>
    <span *ngIf="givenName" style="padding-left: 2px;">
      <button *ngIf="givenName" mat-raised-button routerLink="/authorized">
        Authorized
      </button>
    </span>
    <span style="padding-left: 2px;">
      <button *ngIf="givenName" mat-raised-button (click)="logout()">
        Logout
      </button>
      <button *ngIf="!givenName" mat-raised-button (click)="login()">
        Login
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<style>
</style>
<hr>
<router-outlet></router-outlet>
<hr>
